.navbar {
    z-index: 10;
}
.navbar li {
    position: relative;
    transition: color .2s ease-out;
    color: white;

}

.navbar li::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    right: 50%;
    height: 2px;
    background-color: white;
    transition: all .3s ease-out;
}

.navbar li:hover::after {
    right: 0%;
    left: 0%;
}