@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* border: 1px solid red; */
}

body {
    width: 100vw;
    height: 100vh;
    background: url('./assets/img-2.jpg') center/cover no-repeat;
    z-index: 0;
}